<div class="featured-work-excerpt">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-1">
      <div class="visible-xs-block visible-sm-block">
        {% include featured-work-cover.html %}
      </div>
      <div class="visible-md-block visible-lg-block">
        {% include featured-work-detail.html %}
      </div>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="visible-md-block visible-lg-block">
        {% include featured-work-cover.html %}
      </div>
      <div class="visible-xs-block visible-sm-block">
        {% include featured-work-detail.html %}
      </div>
    </div>
  </div>
</div>