<div class="row">
  <div class="js-instagramFeed social-feed" data-access-token="{{site.instagram_access_token}}"></div>
  <div class="">
    <form class="js-invalidTokenNotificationForm instagram-hidden-form" action="https://formspree.io/{{ site.email }}" method="POST">
      <input type="text" name="notification" value="Your instagram access token has expired! Jeff should know what this means." />
      <input type="hidden" name="_subject" value="Instagram feed is down!" />
    </form>
  </div>
</div>
