<div class="social-account-links">
  {% if site.social_accounts.facebook %}
    <a href="https://facebook.com/{{ site.social_accounts.facebook }}" target="_blank" class="social-link">
      <i class="fa fa-facebook"></i>
    </a>
  {% endif %}
  {% if site.social_accounts.instagram %}
    <a href="https://instagram.com/{{ site.social_accounts.instagram }}" target="_blank" class="social-link">
      <i class="fa fa-instagram"></i>
    </a>
  {% endif %}
  {% if site.social_accounts.twitter %}
    <a href="https://twitter.com/{{ site.social_accounts.twitter }}" target="_blank" class="social-link">
      <i class="fa fa-twitter"></i>
    </a>
  {% endif %}
  {% if site.social_accounts.linkedin %}
    <a href="https://linkedin.com/company/{{ site.social_accounts.linkedin }}" target="_blank" class="social-link">
      <i class="fa fa-linkedin-square"></i>
    </a>
  {% endif %}
  {% if site.social_accounts.dribbble %}
    <a href="https://dribbble.com/{{ site.social_accounts.dribbble }}" target="_blank" class="social-link">
      <i class="fa fa-dribbble"></i>
    </a>
  {% endif %}
  {% if site.social_accounts.behance %}
    <a href="https://behance.net/{{ site.social_accounts.behance }}" target="_blank" class="social-link">
      <i class="fa fa-behance"></i>
    </a>
  {% endif %}
</div>