
.hero-capabilities {
  margin-top: 65px;
  text-align: center;
}

.capability-module {
  position: relative;
  z-index: 1;

  @include breakpoint(xs) {
    margin-bottom: 50px;
  }

  @include breakpoint(sm) {
    margin-bottom: 50px;
  }

  @include breakpoint(md) {
    margin-bottom: 0;
  }
}

.capability-title {
  margin-top: 20px;
  font-size: 24px;
}

.capability-graphic {
  display: inline-block;
  height: 100px;
  width: 100px;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto;
  }

  img[src="/uploads/capability-graphic-digital.png"] {
    margin-top: 11px;
    height: auto;
  }
}

.capability-detail {
  padding: 30px;
  list-style: none;

  .row-eq-height & {
    margin-left: 15px;
    margin-right: 15px;
  }

  @include breakpoint(xs) {
    margin-top: -12px;
  }

  @include breakpoint(sm) {
    margin-top: -12px;
  }

  @include breakpoint(md) {
    margin-top: -15px;
  }
}
  .capability-detail li {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 1.1;

    &:last-child {
      margin-bottom: 0;
    }
  }

.concierge-features {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .capability-module {
    padding: 0 25px 50px;

    @include breakpoint(sm) {
      flex: 1 0 100%;
    }

    @include breakpoint(md) {
      flex: 0 0 50%;
    }

    @include breakpoint(lg) {
      flex: 0 0 25%;
    }
  }
}
