
.featured-work-excerpt {
  &:last-child {
    margin-bottom: 0;
  }
  
  @include breakpoint(xs) {
    margin-bottom: 50px;
  }
  
  @include breakpoint(sm) {
    margin-bottom: 100px;
  }
  
  @include breakpoint(md) {
    margin-bottom: 150px;
  }
}

.featured-work-excerpt .project-wrapper {
  position: relative;
}

.featured-work-excerpt .project-detail-container {
  @include breakpoint(xs) {
    margin-top: 25px;
  }
  
  @include breakpoint(sm) {
    margin-top: 25px;
  }
  
  @include breakpoint(md) {
    margin-top: 85px;
  }
  
  @include breakpoint(lg) {
    margin-top: 155px;
  }
}

.featured-work-excerpt .project-title {
  margin-bottom: 15px;
  font-family: "Gilroy-Bold";
  font-size: 24px;
}

.featured-work-excerpt .project-description {
  font-size: 20px;
  line-height: 1.3;
}

.featured-work-excerpt .project-services {
  position: relative;
  font-family: "Gilroy-ExtraBold";
  z-index: 2;
  
  @include breakpoint(sm) {
    font-size: 64px;
  }
  
  @include breakpoint(md) {
    font-size: 52px;
  }
  
  @include breakpoint(lg) {
    font-size: 62px;
  }
}

@media screen and (max-width: 768px) {
  .featured-work-excerpt .project-services {
    font-size: 8.25vw;
  }
}

@media screen and (max-width: 580px) {
  .featured-work-excerpt .project-services {
    font-size: 8vw;
  }
}

.featured-work-excerpt .project-services-divider {
  &:last-child {
    display: none;
  }
  
  @include breakpoint(xs) {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  @include breakpoint(sm) {
    margin-left: -5px;
    margin-right: -5px;
  }
  
  @include breakpoint(md) {
    margin-left: -14px;
    margin-right: -14px;
  }
}

.featured-work-excerpt .project-cover {
  @include breakpoint(xs) {
    margin-top: -15px;
  }
  
  @media screen and (max-width: 540px) {
    margin-top: -7px
  }
  
  @include breakpoint(sm) {
    margin-top: -17px;
  }
  
  @include breakpoint(md) {
    margin-top: -15px;
  }
  
  @include breakpoint(lg) {
    margin-top: -20px;
  }
}

.featured-work-excerpt .project-link {
  text-align: right;
  font-family: "Gilroy-ExtraBold";
  font-size: 14px;
  
  @include breakpoint(xs) {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  @include breakpoint(sm) {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  
  @include breakpoint(md) {
    margin-top: 30px;
    margin-bottom: 0;
  }
}
