<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5XZPTLP');</script>

    {% include header.html %}

    <div class="page-content {{ page.title }}">{{ content }}</div>

    {% include footer.html %}
    <div class="page-borders">
      <div class="pb pb-t"></div>
      <div class="pb pb-b"></div>
      <div class="pb pb-l"></div>
      <div class="pb pb-r"></div>
    </div>
  </body>

</html>
